<div class="card-body">
                        <h5 class="card-title">
                            <i class="far fa-file"></i> Nuevo
                        </h5>
                        <div class="form-group">
                            <textarea name="observations" class="form-control" placeholder="Observaciones"></textarea>
                        </div>
                        <div class="form-row align-items-end">
                            <div class="col">
                                <input type="file" name="new-file" class="form-control-file" required="">
                                <p class="text-muted mb-0">
                                    Este servidor admite un tamaño máximo de 99 MB.
                                </p>
                            </div>
                            <div class="col text-right">
                                <button type="submit" class="btn btn-sm btn-success">
                                    <i class="fas fa-save fa-fw" aria-hidden="true"></i> Guardar
                                </button>
                            </div>
                        </div>
                    </div>