{% set data = fsc.getFirmaData() %}

<form method="post">
    <div id="formHeader">
        <div class="container-fluid">
            <div class="form-row">
                <div class="col-sm-12 col-md-6 col-lg-6">
                    <div class="form-group">
                        Nombre
                        <input type="text" class="form-control" required/>
                    </div>
                </div>
                <div class="col-md-3 col-lg-3">
                    <div class="form-group">
                        DNI
                        <input type="text" class="form-control" required/>
                    </div>
                </div>
                <div class="col-sm col-md-3 col-lg-3">
                    <div class="form-group">
                        Fecha
                        <input type="date" name="fecha" class="form-control" disabled value="{{ data['date'] }}"/>
                    </div>
                </div>
                <div class="col-sm col-md-3 col-lg-3">
                    <div class="form-group">
                        Hora
                        <input type="time" name="fecha" class="form-control" disabled value="{{ data['time'] }}"/>
                    </div>
                </div>
                <div class="col-sm-12 col-md col-lg">
                    <div class="form-group">
                        Usuario de entrega
                        <input type="text" name="usuario_entrega" class="form-control" disabled value="{{ data['user'] }}"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="formBody">
        <div class="container-fluid mt-3">
            <div class="form-row">
                <div class="col-sm">
                    <canvas id="canvas"></canvas>
                    <p id="limpiar">Limpiar</p>
                </div>
            </div>
        </div>
    </div>
    <div id="formFooter">
        <div class="container-fluid mt-3">
            <div class="form-row">
                <div class="col-auto">
                    <button type="button" class="btn btn-danger mb-3" data-toggle="modal" data-target="#deleteDocModal">
                        <i class="fas fa-trash-alt fa-fw" aria-hidden="true"></i>
                        Eliminar
                    </button>
                    <div class="modal fade" id="deleteDocModal" tabindex="-1" style="display: none;" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">×</span>
                                    </button>
                                </div>
                                <div class="modal-body text-center">
                                    <i class="fas fa-trash-alt fa-3x"></i>
                                    <h5 class="mt-3 mb-1">¿Realmente desea eliminar esto?</h5>
                                    <p class="mb-0">Esto no se puede deshacer. ¿Está seguro que desea continuar?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                    <button type="button" class="btn btn-danger" onclick="return salesFormSave('delete-doc', '0');">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col text-right">
                    <button type="button" class="btn btn-primary btn-spin-action" load-after="true" onclick="return salesFormSave('save-doc', '0');">
                        <i class="fas fa-save fa-fw"></i>
                        Guardar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>